.transaction-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  }
  .totals-container:hover{
   background-color: gold;
  }
  .totals-container {
    width: 400px;
    
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .totals-container h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .totals {
    display: flex;
    justify-content: space-around;
  }
  
  .total-item {
    text-align: center;
  }
  
  .total-item h3 {
    font-size: 18px;
    color: #555555;
  }
  
  .total-item p {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .exit {
    padding: 12px 24px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exit:hover {
    background-color: #d32f2f;
  }
  